html, body{
    display: flex;
    height: 100%;
    width: 100%;
    color: black;
    font-family: sans-serif;   
}

.background{
    overflow: hidden; 
    position: absolute;
    /* margin: 0; */
    padding: 0; */
    /* height: 200vh; */
}

.h1{
    font-size: large;
    font-weight: bold;
}

.container{
    overflow: hidden;
    position: relative;
    margin: 20px;
    padding: 20px;
    background-color: aquamarine;
    box-sizing: border-box;
}
.a {
    margin: 30px;
    padding: 30px;
    border-radius: 5px;
}



 