*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
}

body {
  min-height: 100vh;
  max-width: 100vw;
}

section {
  padding: 40px;
  height: 90vh;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* footer styles */

.main-footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 100%;
  max-width: 100vw;

  background-color: #333;
  overflow: hidden;
  padding: 3rem calc((100vw - 1300px) / 2);
  padding-bottom: 5rem;
  margin-top: 2rem;
  color: #eee;
}

.footer-logo-name {
  font-size: 2rem;
}

.footer-links {
  list-style-type: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-links a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links li {
  padding: 8px;
  cursor: pointer;
  transition: 300ms ease;
}

.footer-links li:hover {
  animation: text-jump 300ms ease;
  opacity: 0.8;
}

.main-footer span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer .icon {
  fill: #eee;
  height: 1rem;
  margin-right: 5px;
  width: auto;
}

.copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 7px;
  font-size: 14px;
}

@media screen and (max-width: 860px) {
  .main-footer {
    grid-template-columns: 1fr;
  }

  .footer-links {
    align-items: center;
  }
}

@keyframes text-jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
